.base {
    display: inline-flex;
    padding: 0.3125rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--color-offwhite);
    box-shadow: 0px 0px 0px 1px #000;
    transition: box-shadow 0.1s linear;
    cursor: pointer;
}

.base:hover {
    box-shadow: -1px -1px 0px 0px var(--color-blue), 1px 1px 0px 0px var(--color-red);
}

.base.red:hover {
    box-shadow: 1px 1px 0px 0px var(--color-red);
}

.base.blue:hover {
    box-shadow: -1px -1px 0px 0px var(--color-blue)
}

.base:active {
    box-shadow: -2px -2px 0px 0px var(--color-blue), 2px 2px 0px 0px var(--color-red);
    background-color: var(--color-offWhiteDark);
}

.base.red:active {
    box-shadow: 2px 2px 0px 0px var(--color-red);
}

.base.blue:active {
    box-shadow: -2px -2px 0px 0px var(--color-blue);
}

.footerContainer {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
}
