.pageContainer {
    display: flex;
    gap: 3rem;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.gameCanvas {
    width: 40rem;
    max-width: 60vw;
    max-height: 60vw;
    height: 40rem;
    flex-shrink: 0;
    border: 1px solid #000;
    background: var(--color-offwhite);
    box-shadow: 4px 4px 0px 0px #000;
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
    grid-gap: 0;
}

.gameCanvas>.team-1 {
    background-color: var(--color-blue);
}

.gameCanvas>.team-2 {
    background-color: var(--color-red);
}

.gameCanvas>.team-3 {
    background-color: var(--color-clearBlue);
    cursor: pointer;
}

.gameCanvas>.team-4 {
    background-color: var(--color-clearRed);
    cursor: pointer;
}

.gameCanvas>.team-0:hover {
    background: var(--color-offWhiteDarker);
    cursor: pointer;
}
